<footer>
    <div class="fo-info">
    <div class="fo-icon">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>

    </div>
    <div class="fo-brand" > @ Wanderlust private Limited</div>
    <div class="fo-link">
        <a href="privacy">Privacy</a>
        <a href="term">Term</a>
    </div>
    </div>
</footer>