<%- layout("/layouts/boilerplate.ejs")%>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">     
    <form method="post" action="/listings"  class="needs-validation ;
" novalidate  enctype="multipart/form-data">
            <h5> Create New Listing </h5>
        <div class="mb-1">
        <label for="title" class="form-label">Title</label>
        <input type="text"  class="form-control" placeholder="Enter title" name="listings[title]"
        required>
        <div class="valid-feedback">
      Title Looks good !
    </div>

        </div>
        <div class="mb-1">
            <label for="description" class="form-label">Description</label>
            <textarea type="text"  class="form-control" row="3" placeholder="Enter Description" name="listings[description]"
            required></textarea>
             <div class="invalid-feedback">
      please enter short text
    </div>
        </div>
        <div class="mb-1">
            <label for="image" class="form-label">Upload Image</label>
            <input    type="file"   class="form-control" placeholder="Enter image link"  name="listings[image]" required
            >
        </div>
        
        <div class="mb-1">
            <label for="price" class="form-label">Price</label>
           <input type="text"  class="form-control"  placeholder="Enter price " name="listings[price]"
           required>
            <div class="invalid-feedback">
                please enter valid price
       </div>
        </div>
        
        <div class="mb-1">
            <label for="country" class="form-label">Country</label>
            <input type="text"  class="form-control"  placeholder="Enter country " name="listings[country]"
            required>
             <div class="invalid-feedback">
                please enter valid country
       </div>
        </div>
        
        <div class="mb-1 ">
            <label for="location" class="form-label ">location</label>
            <input type="text"  class="form-control"  placeholder="Enter location" name="listings[location]" 
            required>
             <div class="invalid-feedback">
                please enter valid location
       </div>
        </div>
        <br>
        
        <button  class="btn btn-dark ">Add</button>
    </form>
    </div>
    </div>
</body>