<% layout("/layouts/boilerplate") -%>
<style>
    #filters{
        display:flex;
        flex:wrap;
        align-items: center;
    }
    .filter{
        text-align:center;
        margin-right:2rem;
        margin-top:2rem;
        opacity:0.7;
    }
    .filter:hover{
        opacity:1;
        cursor:pointer;
    }
    .tax-info{
        display:none;
    }
    .tax-toogle{
        opacity:0.7;
        border: 1px solid black;
        border-radius:1rem;
        height:3rem ! important;
        padding: 1rem ;
        display:flex;
        align-items: center;

    }
    .tax-toogle:hover{
        opacity:1;
        cursor:pointer;
    }
    #switchCheckDefault{
        padding: 0.5rem;
        width:2rem;
        height:0.5rem !important;
        align-items: center;
        
        
    }

    

    
</style>
<body>
    <!--
    <h2>All Listing</h2>
    <form method="get" action="/listing/create">
    <button>Create New Listing</button>
    </form>-->
    <div id="filters">
        <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
        </div>
        <div class="filter">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Rooms</p>
        </div>
        <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
        </div>
        <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
        </div>
        <div class="filter">
        <div><i class="fa-solid fa-chess-rook"></i></div>
        <p>Castles</p>
        </div>
        <div class="filter">
        <div><i class="fa-regular fa-water-ladder"></i></div>
        <p>Amazing pools</p>
        </div>
        <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
        </div>
        <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
        </div>
        <div class="filter">
        <div><i class="fa-solid fa-stroopwafel"></i></div>
        <p>Desert</p>
        </div>
        
        <div class="tax-toogle ms-auto">
            <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display  total after taxes &nbsp; </label>
            </div>
</div>
        


    </div>
<div class="row row-cols-lg-3   row-cols-md-2  row-cols-sm-1">
     <% for(listing of allList) { %>
    <div class="card  listing-card" ">
        <a href="/listing/<%=listing._id%>">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="..." style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
            <h5 class="card-title"><%=listing.title %></h5>
            <p class="card-price"> ₹ <%=listing.price.toLocaleString("en-In") %>/night  &nbsp;&nbsp;<i class="tax-info"> +18% GST</i></p>
            
        
        </div>
        </a>
    </div>
       <%}%>
</div>
<script>
    let taxSwitch = document.getElementById("switchCheckDefault");

    taxSwitch. addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display != "inline"){
            info.style.display = "inline";
            }
            else{
                info.style.display = "none";

            }
        }
    });
</script>
   
</body>
